#Question - 1

In [3]:
var1 = "string"
var2 = [89 , 97 , 84]
var3 = 4.48
var4 = (41 , 43 , 28)
print(var1 , var2 , var3 , var4)

string [89, 97, 84] 4.48 (41, 43, 28)

#Question - 2

In [4]:
var1 = ''
var2 = '[DS , ML , Python]'
var3 = ['DS' , 'ML' , 'Python']
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

#Question - 3

In [5]:
#Divison - /
print(8/2)
#Modulo - %
print(9%3)
#floor divison - //
print(5//2)
#Power - **
print(5**2)

4.0
0
2
25

#Question - 4

In [7]:
list_of_data = [1, "hello", True, 3.14, [1, 2, 3], {"name": "John Doe"}, (1, 2, 3), "world", None, 42]
for item in list_of_data:
    print(item,'=>' ,  type(item))

1 => <class 'int'>
hello => <class 'str'>
True => <class 'bool'>
3.14 => <class 'float'>
[1, 2, 3] => <class 'list'>
{'name': 'John Doe'} => <class 'dict'>
(1, 2, 3) => <class 'tuple'>
world => <class 'str'>
None => <class 'NoneType'>
42 => <class 'int'>

#Question - 5

In [8]:
def is_divisible(a, b):

    count = 0
    while a % b == 0:
        count += 1
        a //= b
    return count > 0


def main():

    a = int(input("Enter the first number: "))
    b = int(input("Enter the second number: "))

    if is_divisible(a, b):
        print(f"{a} is divisible by {b} {count} times.")
    else:
        print(f"{a} is not divisible by {b}.")


if __name__ == "__main__":
    main()

Enter the first number:  8
Enter the second number:  9

8 is not divisible by 9.

#Question - 6

In [15]:
def divisible_by_3(num):

    return num % 3 == 0


def main():

    num_list = [i for i in range(1, 26)]

    for num in num_list:
        if divisible_by_3(num):
            print(f"{num} is divisible by 3.")
        else:
            print(f"{num} is not divisible by 3.")


if __name__ == "__main__":
    main()

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

#Question - 7

In [16]:
list = [1, 2, 3]
string = "Hello, world!"

# Try to change the value of the first item in the list
list[0] = 10

# Try to change the first character in the string
string[0] = "H"

# Print the list and the string
print(list)
print(string)

TypeError: 'str' object does not support item assignment

In [17]:
list = [1, 2, 3]
string = "Hello, world!"

# Try to change the value of the first item in the list
list[0] = 10

# Try to change the first character in the string
# string[0] = "H"

# Print the list and the string
print(list)
print(string)

[10, 2, 3]
Hello, world!